@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins';
    scroll-behavior: smooth;
}
:root{
    --prime-color: #2FB297;
    --black-color: #000;
    --white-color: #fff;
    --gray-color: #35404E;
    --transition: .3s;
    --transition2: .6s;
}
body{
    overflow-x: hidden;
    background: var(--white-color);
    color: var(--black-color);    
}
.home{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
nav{
    width: 100%;
    height: 50PX;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
    margin-right: min(5rem, 8%);
    margin-top: min(1.7rem, 8%);
    margin-bottom: min(5rem, 8%);
   
}
.nav-container {
  height: 50px;
  width: min(44rem, calc(100% - 2rem));
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 4.7rem;
  padding-right: 4.7rem;
  gap: 10px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 #0d2626;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 60Q; 
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.logo a{
    font-size: 17px;
    color: var(--black-color);
    font-weight: 600;
    cursor:text;
}
.logo-p{
  display: none;
}
.menu{
    padding-left: 1%;
    padding-right: 1%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.menu li a{
    font-size: 1rem;
    font-weight: 500;
    color: var(--black-color);
    transition: var(--transition2);
}

.bars{
  display: none;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.bars-div{
    display:inline-block;
    justify-content: center;
    text-align: center;
    transition: var(--transition2);
}
.bars-div a{
      color: var(--black-color);
}
.bars p{
  font-size: 10px;
  font-weight: 600;
  margin: 0;
}
.bars-img{
  height: 15px;
  width: 15px;
  display: block;
  justify-self: center;
}
.switch {
  font-size: 12px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  --background: #757e7e;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background);
  transition: .5s;
  border-radius: 30px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 50%;
  left: 10%;
  bottom: 15%;
  box-shadow: inset 15px -4px 0px 15px #fff000;
  background: var(--background);
  transition: .5s;
}
input:checked + .slider {
  background-color: #522ba7;  
}
input:checked + .slider:before {
  transform: translateX(100%);
  box-shadow: inset 8px -4px 0px 0px #fff000;
}
.Profile{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7.5rem 5rem;
  padding-top: 10rem;
  padding-bottom: 12rem;
  gap: 2rem;
  background-size: 100%;
  background: radial-gradient(50% 50% at 50% 50%,rgba(172, 172, 172, 0) 0%,var(--token-eb09dbbf-ef85-4b7f-81a5-44e9b062efb7, rgb(179, 179, 179)) 100%);
  -webkit-mask:
    radial-gradient(5vw at bottom left, transparent 98%, black 100%),
    radial-gradient(5vw at bottom right, transparent 98%, black 100%);
  -webkit-mask-composite: source-in;
          mask-composite: intersect;
  flex: none;
  inset: -29px 0;
  z-index: 2;
}
.img-div{
  box-shadow: 0 8px 32px 0 #0d2626;
  border-radius: 60Q; 
  border: 1px solid rgba(255, 255, 255, 0.18);
  mask-image: radial-gradient(at top, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
}
.img{
  background-image: url(Day.png);
  height: 30rem;
  width: 28rem;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  transition: var(--transition2);
  border-radius: 60Q; 
}
.nverif h1{
  font-size: clamp(1rem, 8vw, 3rem);
  padding-right: 15px;
}
.name p{
  font-size: clamp(15px, 20px, 30px);
  text-align: center;
}
.nverif{
  display: flex;
  align-items: center;
  justify-content: center;
}
.verified-icon{
  height: 4rem;
  width: 4rem;
  flex-shrink: 0;
}
.social{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.facebook, .github{
  font-size: 30px;
  color: #090909;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 0.5em;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}
.facebook:active, .github:active{
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}
.facebook{margin-right: 10px;}
.github{margin-left: 10px;}

.about{
  margin-left: min(5rem, 5%);
  margin-right: min(5rem, 5%);
  padding-bottom: min(2rem, 5%);
  padding-left: min(3rem, 1%);
  padding-right: min(3rem, 1%);
  border-radius: 0 0 40px 40px;
  background-size: 100%;
  background: radial-gradient(50% 50% at 50% 50%,rgba(172, 172, 172, 0) 0%,var(--token-eb09dbbf-ef85-4b7f-81a5-44e9b062efb7, rgb(179, 179, 179)) 0%); 
}
.about1{
  width: 100%;
  height: 100%;
  padding-top: min(6rem, 10%);
  padding-bottom: min(2rem, 10%);
  padding-left: min(3rem, 8%);
  padding-right: min(3rem, 8%);
  transition: 200ms;
}

.abt{
    display: flex;
    gap: 20px; 
}
.about1 p{
  padding-bottom: 30px;
  justify-content: space-between;
  font-size: clamp(15px, 1.5vw, 3rem);
}
.title1{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 48px;
}
.title1 h1{
  margin-bottom: min(3rem, 8%);
  text-align: center;
  font-weight: 700;
  font-size: clamp(16px, 1.5vw, 40px);
  color: var(--token-f195ea74-7512-4096-8d91-0e7c7e10d0ab, rgba(50, 48, 48, 0.553));
}
.about1-div{
  padding-left: min(1.8rem, 1%); 
}

.tech-stack{
  position: relative;
  overflow: hidden;
  padding-top: min(2.5rem, 8%);
  margin-top: min(2.5rem, 8%);
  margin-left: min(5rem, 3%);
  margin-right: min(5rem, 3%);
  padding-bottom: min(5rem, 8%);
}
.tech-stack::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
   transform: rotate(180deg);
  --pattern-color: var(--token-f195ea74-7512-4096-8d91-0e7c7e10d0ab, rgba(121, 121, 121, 0.197));
  background:
    linear-gradient(var(--pattern-color) 1px, transparent 1px),
    linear-gradient(to right, var(--pattern-color) 1px, transparent 1px);
  background-size: 15px 15px, 15px 15px; 
  background-position: 50% 50%, 50% 50%;
  -webkit-mask-image: radial-gradient(
    circle at center,
    rgba(0,0,0,1) 3%,
    rgba(0,0,0,0) 40%
  );
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: cover;
}
.title{
display: flex;
gap: 10px;
}
.title-img{
  width: 30px;
  height: 30px;
  color: var(--token-f195ea74-7512-4096-8d91-0e7c7e10d0ab, rgba(50, 48, 48, 0.553));
}
.title h1{
  margin-bottom: min(3rem, 8%);
  text-align: left;
  font-weight: 700;
  font-size: clamp(16px, 1.5vw, 40px);
  color: var(--token-f195ea74-7512-4096-8d91-0e7c7e10d0ab, rgba(50, 48, 48, 0.553));
}
.stack{
  width: 100%;
  height: 100%;
  padding-top: min(3rem, 10%);
  padding-bottom: min(2rem, 10%);
  padding-left: min(3rem, 5%);
  padding-right: min(3rem, 5%);
}
.stach-quote, .project-quote, .contact-qoute{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: min(50px, 8%);
}
.stach-quote p, .project-quote p{
  width: 50rem;
  font-size: clamp(1.3rem, 2.3vw, 3rem);
  font-weight: 600; 
  text-align: center;
}
.contact-qoute p{
  width: 49rem;
  font-size: clamp(1.3rem, 2.3vw, 3rem);
  font-weight: 600; 
  text-align: center;
}
.sta{ 
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 10px;
  margin: min(50px, 8%);
  padding-top: min(1rem, 8%);
}
  .logo-size{
    font-size: 35px;
  }
.button1{
  height: 70px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 10px;
  margin: 0;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #090909;
   overflow: hidden;
   user-select: none;
 -webkit-user-select: none;
  touch-action: manipulation;
  border-radius: 0.5em;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: var(--transition2);
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; 
  }
 .tech-hover{
  font-size: 10px;
 }

.button1 span:first-child {
 position: relative;
 transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
 z-index: 10;
}

.button1 span:last-child {
 color: rgb(0, 0, 0);
 display: block;
 position: absolute;
 bottom: 0;
 transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
 z-index: 100;
 opacity: 0;
 top: 50%;
 left: 50%;
 transform: translateY(225%) translateX(-50%);
 height: 14px;
 line-height: 13px;
}

.button1:after {
 content: "";
 position: absolute;
 bottom: -50%;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: rgb(255, 255, 255);
 transform-origin: bottom center;
 transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
 transform: skewY(9.3deg) scaleY(0);
 z-index: 50;
}

.button1:hover:after {
 transform-origin: bottom center;
 transform: skewY(9.3deg) scaleY(2);
}

.button1:hover span:last-child {
 transform: translateX(-50%) translateY(-50%);
 opacity: 1;
 transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.project{
  margin-left: min(5rem, 5%);
  margin-right: min(5rem, 5%);
  margin-bottom: min(5rem, 8%);
  padding-top: min(3rem, 5%);
  padding-bottom: min(2rem, 5%);
  padding-left: min(3rem, 1%);
  padding-right: min(3rem, 1%);
}
 .contact{
  margin-left: min(5rem, 5%);
  margin-right: min(5rem, 5%);
  padding-top: min(3rem, 5%);
  padding-bottom: min(3rem, 5%);
  padding-left: min(3rem, 1%);
  padding-right: min(3rem, 1%);
 }

.project-item{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: start;
}
.project-item > div{
  border: 1px solid #e8e8e8;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 6px 6px 12px solid, -6px -6px 12px #ffffff;
}
.project-item{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat( auto-fill, minmax(300px, 1fr));
  column-gap: 20px;
  row-gap: 15px;
}
.project-item h3{
  font-size: clamp(1rem, 1.8vw, 3rem);
}
.project-item h4{
  font-size: clamp(10px, 1vw, 3rem);
}
.project-item p{
 font-size: clamp(1rem, 17px, 30px);
 padding-top: 10px;
 padding-bottom: 20px;
}
.project-divider{
  padding-top: min(2rem , 10%);
  padding-bottom: min(2rem, 10%);
  padding-left: min(3rem, 0%);
  padding-right: min(3rem, 0%);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 #0d2626;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 60Q; 
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: 300ms;
}
.proj1{
  grid-column: span 2;
  grid-row: span 4;
}
.project-img-div{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 3.3rem);
  gap: 5px;
  margin-bottom: 10px;

}
.portfolio-img{
  grid-column: span 3;
  grid-row: span 5;
  background-image: url(Porfolio.png);
}
.portfolio-img2{
  grid-column-start: 4; 
  grid-row: span 5 / span 5;
  background-image: url(Portfolio2.png);
}
.img-size{
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  border: 3px solid #484747;
  border-radius: 12px;
  box-shadow: 6px 6px 12px solid, -6px -6px 12px #ffffff;
}
.proj2{
  grid-column: span 2;
  grid-row: span 4;
}
.proj2-img{
  grid-column: span 4;
  grid-row: span 5;
  background-image: url(bms.png);
}
.proj3{
  grid-column: span 2;
  grid-row: span 4;
}
.project3-img-div{
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 2.5rem);
}
.proj3-img{
  grid-column-start: 2; 
  grid-row: span 5;
  background-image: url(mealmaster.jpg);
}
.proj4{
  grid-column: span 2;
  grid-row: span 4;
}
.project4-img-div{
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 2.5rem);
  padding-bottom: 0.3rem;
}
.proj4-img{
  grid-column: span 4;
  grid-row: span 5;
  background-image: url(pra.png);
}
.project-links{
  display: flex;
  gap: 20px;
}
.proj-logo{
  font-size: clamp(1rem, 19.5px, 30px);
}
.proj-logo-divider-size{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding:  min(5px, 10%);
  padding-left:  min(5px, 10%);
  padding-right: min(5px, 10%);
  border-radius: 0.5em;
  cursor: pointer;
  transition: all 0.3s;
}
.proj-logo-divider-size h4{
  transition: all 0.3s;
} 
.contact-item1{
  padding-top: 20px;
}
.contact-alignment{
display: flex;
justify-content: center;
justify-self: center;
gap: 50px;
margin-top: min(20px, 8%);
}

.contact-icon{
  font-size: 25px;
  color: gray;
  transition: var(--transition2);
}
.contact-item3{
  color: gray;
}
.button {
  cursor: pointer;
  font-size: 1.4rem;
  border-radius: 16px;
  border: none;
  padding: 2px;
  position: relative;
}
.button::after {
  content: "";
  position: absolute;
  width: 65%;
  height: 60%;
  border-radius: 120px;
  top: 0;
  right: 0;
  box-shadow: 0 0 20px #ffffff38;
  z-index: -1;
}

.blob1 {
  position: absolute;
  width: 70px;
  height: 100%;
  border-radius: 16px;
  bottom: 0;
  left: 0;
  background: radial-gradient(
    circle 60px at 0% 100%,
    #ffb53f,
    #ffffff80,
    transparent
  );
  box-shadow: -10px 10px 30px #0051ff2d;
  transition: var(--transition2);
}
.inner {
  padding: 14px 25px;
  border-radius: 14px;
  color: #fff;
  z-index: 3;
  position: relative;
  background: radial-gradient(circle 80px at 80% -50%, #777777, #0f1111);
}
.inner::before {
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 14px;
  background: radial-gradient(
    circle 60px at 0% 100%,
    #00e1ff1a,
    #0000ff11,
    transparent
  );
  position: absolute;
}

footer{
  height: 6rem;
  display: flex;
  border-top: 1.5px solid rgba(122, 121, 121, 0.442);
  justify-content: center;
  align-items: center;
  margin-left: min(5rem, 5%);
  margin-right: min(5rem, 5%);
  padding-left: min(3rem, 1%);  
  padding-right: min(3rem, 1%);
}
.footer-div p{
  text-align: center;
  font-size: .875rem;
}
.menu li a:hover, .bars-div:hover{
    opacity: .5;
}
.img:hover{
  background-image: url(Day.jpg);
  scale: 102%;
}
.button1:hover{
  scale: 105%;
}
.project-divider:hover{
scale: 105%;
filter: brightness(1.1);
}
.proj-logo-divider-size h4:hover{
  opacity: .5;
}
.contact-icon:hover , .contact-email:hover{
  color: #000;
}
.button:hover .blob1{
  width: 100%;
  background:    #ffb53f;
}
@media (max-width: 1024px) {
  .Profile {
    flex-direction: column;
    padding: 6rem 2rem;
  }
  .menu {
    gap: 15px;
  }
}

@media (max-width: 700px) {
  nav {
    justify-content: space-between;
    justify-content: center;
  }
  .nav-container{
  padding-left: 1rem;
  padding-right: 2.5rem;
  gap: 20px;
  }
  .menu {
    display: none;
    flex-direction: column;
    background: var(--white-color);
    position: absolute;
    text-align: center;
  }
  .logo a{
    display: none;
  }
  .logo-p{
    display: flex;
  }
  .logo-p p{
    color: var(--black-color);
    font-weight: 600;
  }
  .bars {
    display: flex;
    cursor: pointer;
  }
  .Profile {
    flex-direction: column;
    padding: 6rem 2rem;
  }
}

body.dark-mode {
  background: var(--black-color);
  color: #f5f5f5;
}
body.dark-mode .Profile{
  background: radial-gradient(50% 50% at 50% 50%,rgba(172, 172, 172, 0) 0%,var(--token-eb09dbbf-ef85-4b7f-81a5-44e9b062efb7, rgb(33, 33, 33)) 100%);
}
body.dark-mode .img{
  background-image: url(Night.png);
}
body.dark-mode .img-div{
  border: 1px solid rgba(76, 76, 76, 0.18);
  mask-image: radial-gradient(at top, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
}
body.dark-mode .img:hover{
  background-image: url(night-click.png);
  scale: 102%;
}

body.dark-mode .logo a,
body.dark-mode .menu li a {
  color: #f5f5f5;
}
body.dark-mode .facebook,
body.dark-mode .github {
  background: #222;
  color: #f5f5f5;
  box-shadow: 6px 6px 12px #111, -6px -6px 12px #333;
}
body.dark-mode .facebook:active,
body.dark-mode .github:active {
  box-shadow: inset 4px 4px 12px #111, inset -4px -4px 12px #333;
}
body.dark-mode .about{
  background: radial-gradient(50% 50% at 50% 50%,rgba(8, 10, 8, 0) 0%,var(--token-eb09dbbf-ef85-4b7f-81a5-44e9b062efb7, rgb(33, 33, 33)) 100%);
  inset: -29px 0;
}
body.dark-mode .stack{
  color: #f5f5f5;
}
body.dark-mode .button1 span:last-child {
 color: rgb(255, 255, 255);
}

body.dark-mode .button1:after {
 background-color: rgb(0, 0, 0);
}
body.dark-mode .button1{
  color: #f5f5f5;
  box-shadow: 6px 6px 12px #111, -6px -6px 12px #333;
}
body.dark-mode .title-img,
body.dark-mode .title h1,
body.dark-mode .title1 h1{
  color: var(--token-f195ea74-7512-4096-8d91-0e7c7e10d0ab, rgba(255, 255, 255, .6));
}
body.dark-mode .tech-stack{
    --pattern-color: rgba(1, 43, 19, 0.01  );
}
body.dark-mode .portfolio-img{
  background-image: url(Portfolio-night.png);
}
body.dark-mode .portfolio-img2{
  background-image: url(Portfolio2-night.png);
}
body.dark-mode .contact-icon:hover{
  font-size: 25px;
  color: #3fe9ff;
}
body.dark-mode .contact-item3:hover{
  color: rgb(255, 255, 255);
}
body.dark-mode .blob1{
  background: radial-gradient(
    circle 60px at 0% 100%,
    #3fe9ff,
    #ffffff80,
    transparent
  );
}
body.dark-mode .button:hover .blob1{
  width: 100%;
  background:    #3fe9ff;
}